name: Python Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Poetry
      run: |
        python -m pip install --upgrade pip
        pip install poetry

    - name: Install dependencies
      run: |
        poetry install --no-root

    - name: Install Allure
      run: |
        wget -q https://github.com/allure-framework/allure2/releases/download/2.32.0/allure-2.32.0.tgz
        tar -xzf allure-2.32.0.tgz -C /opt
        echo "/opt/allure-2.32.0/bin" >> $GITHUB_PATH

    - name: Run pytest
      run: |
        poetry run pytest --alluredir=./report/allure-data

    - name: Generate Allure report
      run: |
        allure generate ./report/allure-data -c -o ./report/allure-report

    - name: Upload Allure report
      uses: actions/upload-artifact@v4
      with:
        name: allure-report
        path: report/allure-report
        retention-days: 7

    - name: Upload Allure data
      uses: actions/upload-artifact@v4
      with:
        name: allure-data
        path: report/allure-data
        retention-days: 7
